<footer class="footer">

    <div class="container-fluid " id="footer">
        <div class="row">
          <h1 class="text-center">Contact</h1>
          <div class="col-1">
            <i class="fa-solid fa-envelope">RedAI@gmail.com </i>
            <i class="fa-solid fa-phone">9611393239</i>
    </div>


    <!-- &copy; <%= new Date().getFullYear(); %> project copyright -->
    

</footer>
